@import url("https://use.typekit.net/cnc8rvf.css");

body {
  background-color: #f44335;
  font-family: sofia-pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
}

.footer {
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  font-weight: 300;
}

.footer a {
  color: #ffffff;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  border-radius: 0 0 15px 15px;
}

.white {
  --width: 100px;
  background-color: #ffffff;
  border: 1px solid #f44335;
}

.white.active {
  background-color: #cccccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333333;
}
